@import 'null.scss';
@import 'samples.scss';
@import 'fonts.scss';
@import 'colors.scss';

body {
    background: $bg;
    font-family: "Chakra Petch", serif;
    color: white;
}

a {
    color: white;
}
.burger {
    display: none;
    width: 50px;
    height: 50px;
    background: url('../../img/icons/burger.svg') center no-repeat;
    background-size: cover;
    position: relative;
    
    input[type="checkbox"] {
      width: 100%;
      height: 100%;
      background: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      margin: 0;
      border: none;
      outline: none;
    }
  
    /* Показываем элемент .ddd, когда чекбокс выбран */
    input[type="checkbox"]:checked + .burger__checked {
      display: block;
    }
  }
  
  .burger__checked {
        top: 30px;
    right: 40px;
    position: absolute;
    width: 100px;
    height: 150px;
    display: none;
    .nav__burger{
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.205);
        border: 1px solid rgba(255, 255, 255, 0.151);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
  }
header {
    max-height: 114px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 16px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        >a {
            width: 126px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            border-image: $gradient 1;

        }

        
    }

    nav {
        display: flex;
        gap: 65px;
        a{
            position: relative;
            &:last-child{
                &::after{
                    content: '';
                width: 100%;
                top: 25px;
                height: 2px;
                border-radius: 10px;
                transform-origin: left;

                background: white;
                position: absolute;
                display: flex;
                }
            }
            &::after{
                content: '';
                transition: all .3s;
                width: 0%;
                top: 25px;
                height: 2px;
                border-radius: 10px;
                transform-origin: left;

                background: white;
                position: absolute;
                display: flex;
                &:hover{
                    width: 100%;
                    
                }
            }
            &:hover::after{
                width: 100%;
            }
        }
    }

}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.title__subtitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 69px;
    border-bottom: 1px solid;
    border-image: $gradient 1;
    position: relative;
    > img{
        position: absolute;
        z-index: -1;
    }
    p {
        margin-top: 28.5px;
        font-weight: 600;
    }

    span {
        font-weight: 300;
        color: $gray;
    }
}

h1 {
    font-size: 64px;
    font-weight: 600;
}

.pricing {
    margin-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        max-width: 751px;
        margin-top: 16px;
    }
}

.pricing__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.gradient__title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 14%;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.second__title {
    font-size: 48px;
    font-weight: 600;
}

.block__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: $gray;
    line-height: 28px;
}

.list__price {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
}

.plan {
    max-width: 359px;
    height: 598px;
    width: 100%;
    background: $bg-block;
    border-radius: 6px;
    padding: 35px;
    transition: .5s all;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0.281), rgba(255, 255, 255, 0)) 1;

    &:hover {
        border: 1px solid;
        border-image: $gradient 1;
    }

    h4 {
        font-size: 18px;
        font-weight: 400;
    }

    p {

        font-size: 64px;
        font-weight: 600;
        margin-top: 9px;

        span {
            font-size: 16px;
            color: $gray;
            font-weight: 300;
        }

        &:nth-child(3) {
            margin-top: 9px;
            font-size: 16px;
            font-weight: 300;

        }
    }

    ul {
        margin-top: 16px;
        display: flex;
        flex-direction: column;

        gap: 16px;
        max-width: 259px;

        li {
            padding-left: 26px;
            font-weight: 600;
            font-size: 16px;
            position: relative;
            line-height: 20.8px;

            &::before {
                content: url('../../img/icons/check-circle.svg');
                position: absolute;
                left: 0;
            }
        }
    }

    >a {
        width: 292px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        border-image: $gradient 1;
        background: rgba(255, 255, 255, 0.06);
        transition: 0.4s;
        margin-top: 57px;

        &:hover {
            background: $gradient;
        }
    }
}
.why__us{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    > img{
        position: absolute;
        top: -180px;
        left: -120px;
        pointer-events: none;
        z-index: -1;
    }
}
.why__us--title{
    max-width: 548px;
    h3{
        line-height: 58px;
    }
}
.why__us--list{
    max-width: 548px;
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 48px;
        summary{
            font-weight: 500;
            font-size: 20px;
            padding-bottom: 12px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.35);
        }
        p{
            margin-top: 12px;
        }
        
}
.faq{
    margin-top: 250px;
}
.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

    details {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 790px;
        width: 100%;
        border: 1px solid;
        transition: all .3s;
        border-image: linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%) 1;
        &:hover{
            border: 1px solid;
            border-image: $gradient 1;
        }


        summary {
            font-size: 20px;
            font-weight: 500;
            background: $bg-block;
            height: 74px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24px 24px 12px 24px;
        }

        p {
            height: 100%;
            background: $bg-block;
            padding: 0 24px 24px 24px;
            span{
                display: block;
                border-top: 1px solid rgba(255, 255, 255, 0.35);
                padding-top: 12px;
            }
        }
    }
}
.subscribe {
    background: $gradient;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 167px;
    width: 100%;
    height: 185px;
    margin-top: 150px;

    h3 {
        font-size: 40px;
        font-weight: 600;
        max-width: 540px;
    }

    form {
        max-width: 365px;
        height: 56px;
        background: rgba(255, 255, 255, 0.07);
        display: flex;
        align-items: center;

        >img {
            margin-left: 14px;
        }

        input {
            width: 274px;
            height: 100%;
            background: none;
            margin-left: 8px;
            padding-right: 13px;
        }

        button {
            width: 55px;
            height: 49.33px;
            background: rgba(255, 255, 255, 0.21);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

footer {
    margin-top: 64px;
}

.logoSocial {
    >img {
        width: 101px;
        height: 30px;
    }

    display: flex;
    flex-direction: column;
    gap: 139px;

    .social {
        display: flex;
        gap: 20px;
        max-width: 244px;
        height: 46px;
    }
}

.topFooter {
    margin-top: 182px;
    display: flex;
    justify-content: space-between;
}

.footerNav {
    display: flex;
    flex-wrap: wrap;
    gap: 149px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-weight: 300;

        span {
            font-weight: 600;
        }
    }

}

.bottomFooter {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    margin-top: 65px;
    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: $gradient;
        position: absolute;
        top: 0;
    }
}

@media (max-width: 1033px) {
    .why__us{
        align-items: center;
        > img{
            display: none;
        }
    }
    .topFooter {
        flex-direction: column;
        align-items: center;
    }

    .logoSocial {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footerNav {
        margin-top: 100px;
    }

    .subscribe {
        flex-direction: column;
        gap: 0;
        text-align: center;
        gap: 10px;
    }
}


@media (max-width: 813px) {
    .logoSocial{
        flex-direction: column;
        gap: 30px;
    }
    .footerNav{
        justify-content: center;
        text-align: center;
    }
}


@media (max-width: 713px) {
    header{
        nav{
            display: none;
        }
        .container{
            > a{
                display: none;
            }
        }
    }
    .title__subtitle {
        
        > img{
            position: absolute;
            z-index: -1;
            width: 100%;
        }
    }
    .subscribe{
        h3 {
            font-size: 30px;
            
        }
    }
    .burger{
        display: block;
    }
}
@media (max-width: 429px) {
    h1{
        font-size: 55px;
    }
    .subscribe{
        h3 {
            font-size: 20px;
            
        }
        form{
            max-width: 300px;
            button {
                width: 65px;
                height: 49.33px;
                
            }
        }
    }
}