@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.form form input, .block {
  border: 1px solid;
  -o-border-image: linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%) 1;
     border-image: linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%) 1;
}

.form h2, .contacts h3 {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9));
  background-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
}

body {
  background: rgb(25, 25, 28);
  color: white;
  font-family: "Chakra Petch", serif;
  font-size: 16px;
}

input {
  color: white;
  padding-left: 12px;
}
input::-webkit-input-placeholder {
  color: rgb(209, 209, 209);
}
input::-moz-placeholder {
  color: rgb(209, 209, 209);
}
input:-ms-input-placeholder {
  color: rgb(209, 209, 209);
}
input::-ms-input-placeholder {
  color: rgb(209, 209, 209);
}
input::placeholder {
  color: rgb(209, 209, 209);
}

a {
  color: white;
}

header {
  max-height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
header .container > a {
  width: 126px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  -o-border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9)) 1;
     border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
}
header .container img:last-child {
  display: none;
  width: 35px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
}
header nav a {
  position: relative;
}
header nav a::after {
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 0%;
  top: 25px;
  height: 2px;
  border-radius: 10px;
  -webkit-transform-origin: left;
          transform-origin: left;
  background: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav a::after:hover {
  width: 100%;
}
header nav a:hover::after {
  width: 100%;
}

.burger {
  display: none;
  width: 50px;
  height: 50px;
  background: url("../../img/icons/burger.svg") center no-repeat;
  background-size: cover;
  position: relative;
  /* Показываем элемент .ddd, когда чекбокс выбран */
}
.burger input[type=checkbox] {
  width: 100%;
  height: 100%;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  border: none;
  outline: none;
}
.burger input[type=checkbox]:checked + .burger__checked {
  display: block;
}

.burger__checked {
  top: 30px;
  right: 40px;
  position: absolute;
  width: 100px;
  height: 150px;
  display: none;
}
.burger__checked .nav__burger {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.205);
  border: 1px solid rgba(255, 255, 255, 0.151);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.title__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  padding-bottom: 69px;
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9)) 1;
     border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
  position: relative;
}
.title__subtitle > img {
  position: absolute;
  z-index: -1;
}
.title__subtitle p {
  margin-top: 28.5px;
  font-weight: 600;
}
.title__subtitle span {
  font-weight: 300;
  color: rgb(209, 209, 209);
}

h1 {
  font-size: 64px;
  font-weight: 600;
}

.contact__info {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block {
  max-width: 379px;
  width: 100%;
  height: 291px;
  background: rgba(37, 37, 50, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contacts {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.contacts h3 {
  font-weight: 500;
}

.contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 279px;
  position: relative;
}
.contactUs img {
  position: absolute;
  left: -136px;
  pointer-events: none;
  z-index: -1;
}

.form {
  max-width: 645px;
}
.form > a {
  width: 198px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9));
  background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  margin-top: 32px;
}
.form h2 {
  font-weight: 500;
  width: 114px;
}
.form h3 {
  font-size: 48px;
  font-weight: 600;
  margin-top: 13px;
}
.form p {
  font-weight: 300;
  font-size: 16px;
  color: rgb(209, 209, 209);
  line-height: 28px;
  margin-top: 15px;
}
.form form {
  margin-top: 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 306px 33px 306px;
  grid-template-columns: repeat(2, 306px);
  -ms-grid-rows: 50px 24px 50px 24px 50px;
  grid-template-rows: repeat(3, 50px);
  row-gap: 24px;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
}
.form form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.form form > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.form form > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.form form > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.form form > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.form form > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.form form input {
  background-color: rgba(37, 37, 50, 0.6);
}
.form form input:last-child {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

iframe {
  margin: 207px 0 77px 0;
}

.subscribe {
  background: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9));
  background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 167px;
  width: 100%;
  height: 185px;
}
.subscribe h3 {
  font-size: 40px;
  font-weight: 600;
  max-width: 540px;
}
.subscribe form {
  max-width: 365px;
  height: 56px;
  background: rgba(255, 255, 255, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe form > img {
  margin-left: 14px;
}
.subscribe form input {
  width: 274px;
  height: 100%;
  background: none;
  margin-left: 8px;
  padding-right: 13px;
}
.subscribe form button {
  width: 55px;
  height: 49.33px;
  background: rgba(255, 255, 255, 0.21);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  margin-top: 64px;
}

.logoSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 139px;
}
.logoSocial > img {
  width: 101px;
  height: 30px;
}
.logoSocial .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  max-width: 244px;
  height: 46px;
}

.topFooter {
  margin-top: 182px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 149px;
}
.footerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  font-weight: 300;
}
.footerNav ul span {
  font-weight: 600;
}

.bottomFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  margin-top: 65px;
  position: relative;
}
.bottomFooter:before {
  content: "";
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9));
  background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
  position: absolute;
  top: 0;
}

@media (max-width: 1033px) {
  .topFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logoSocial {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerNav {
    margin-top: 100px;
  }
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    text-align: center;
    gap: 10px;
  }
  .contactUs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactUs img {
    display: none;
  }
}
@media (max-width: 813px) {
  .burger {
    display: block;
  }
  header .container nav {
    display: none;
  }
  header .container > a {
    display: none;
  }
  header .container img:last-child {
    display: block;
  }
  .logoSocial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footerNav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media (max-width: 647px) {
  .form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form form input {
    height: 50px;
  }
  .form form input:last-child {
    height: 100px;
  }
}
@media (max-width: 713px) {
  iframe {
    height: 300px;
  }
  .subscribe h3 {
    font-size: 30px;
  }
  .title__subtitle > img {
    width: 100%;
  }
}
@media (max-width: 429px) {
  h1 {
    font-size: 60px;
  }
  .subscribe h3 {
    font-size: 20px;
  }
  .subscribe form {
    max-width: 300px;
  }
  .subscribe form button {
    width: 65px;
    height: 49.33px;
  }
}