@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background: #18181B;
  font-family: "Chakra Petch", serif;
  color: white;
}

a {
  color: white;
}

.burger {
  display: none;
  width: 50px;
  height: 50px;
  background: url("../../img/icons/burger.svg") center no-repeat;
  background-size: cover;
  position: relative;
  /* Показываем элемент .ddd, когда чекбокс выбран */
}
.burger input[type=checkbox] {
  width: 100%;
  height: 100%;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  border: none;
  outline: none;
}
.burger input[type=checkbox]:checked + .burger__checked {
  display: block;
}

.burger__checked {
  top: 30px;
  right: 40px;
  position: absolute;
  width: 100px;
  height: 150px;
  display: none;
}
.burger__checked .nav__burger {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.205);
  border: 1px solid rgba(255, 255, 255, 0.151);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

header {
  max-height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 16px;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
header .container > a {
  width: 126px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  -o-border-image: linear-gradient(to right, #0CBAF1, #E95CE9) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9)) 1;
     border-image: linear-gradient(to right, #0CBAF1, #E95CE9) 1;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
}
header nav a {
  position: relative;
}
header nav a:nth-child(2)::after {
  content: "";
  width: 100%;
  top: 25px;
  height: 2px;
  border-radius: 10px;
  -webkit-transform-origin: left;
          transform-origin: left;
  background: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav a::after {
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 0%;
  top: 25px;
  height: 2px;
  border-radius: 10px;
  -webkit-transform-origin: left;
          transform-origin: left;
  background: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav a::after:hover {
  width: 100%;
}
header nav a:hover::after {
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.title__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  padding-bottom: 69px;
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(to right, #0CBAF1, #E95CE9) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9)) 1;
     border-image: linear-gradient(to right, #0CBAF1, #E95CE9) 1;
  position: relative;
}
.title__subtitle > img {
  position: absolute;
  z-index: -1;
}
.title__subtitle p {
  margin-top: 28.5px;
  font-weight: 600;
}
.title__subtitle span {
  font-weight: 300;
  color: #D1D1D1;
}

h1 {
  font-size: 64px;
  font-weight: 600;
}

.gradient__title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 14%;
  background: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9));
  background: linear-gradient(to right, #0CBAF1, #E95CE9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.second__title {
  font-size: 48px;
  font-weight: 600;
}

.p__subtitle {
  font-size: 16px;
  color: #D1D1D1;
  line-height: 28px;
  font-weight: 300;
}

.vr__design {
  margin: 62px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1054px;
  height: 1054px;
  background: url("../../img/icons/Line.svg") center no-repeat;
  background-size: cover;
  position: relative;
}

.vr__design--circle {
  position: absolute;
  top: 0;
  max-width: 102px;
  width: 100%;
  height: 102px;
  border-radius: 50%;
  background: rgba(37, 37, 50, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.137);
  top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 18.2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@-webkit-keyframes moreless1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 1px solid rgba(232, 90, 232, 0);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    border: 1px solid rgb(232, 90, 232);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 1px solid rgba(232, 90, 232, 0);
  }
}

@keyframes moreless1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 1px solid rgba(232, 90, 232, 0);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    border: 1px solid rgb(232, 90, 232);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 1px solid rgba(232, 90, 232, 0);
  }
}
.first__circle {
  -webkit-animation: moreless1 3s infinite ease;
          animation: moreless1 3s infinite ease;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.second__circle {
  -webkit-animation: moreless1 3s infinite ease;
          animation: moreless1 3s infinite ease;
  top: 90px;
  right: 241px;
}

.third__circle {
  -webkit-animation: moreless1 3s infinite ease;
          animation: moreless1 3s infinite ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  top: 252px;
  right: 72px;
}

.fourth__circle {
  -webkit-animation: moreless1 3s infinite ease;
          animation: moreless1 3s infinite ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  top: 439px;
  right: 15px;
}

.fifth__circle {
  -webkit-animation: moreless1 3s infinite ease;
          animation: moreless1 3s infinite ease;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  top: 90px;
  left: 241px;
}

.sixth__circle {
  -webkit-animation: moreless1 3s infinite ease;
          animation: moreless1 3s infinite ease;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  top: 252px;
  left: 72px;
}

.seventh__circle {
  -webkit-animation: moreless1 3s infinite ease;
          animation: moreless1 3s infinite ease;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  top: 439px;
  left: 15px;
}

.design__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.design__title p {
  max-width: 625px;
}

.vr__design--include {
  border: 1px solid;
  -o-border-image: linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%) 1;
     border-image: linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%) 1;
  margin-top: 54px;
  max-width: 431px;
  width: 100%;
  height: 355px;
  background: rgba(37, 37, 50, 0.623);
  padding: 30px 59px 35px 32px;
}
.vr__design--include p {
  font-size: 16px;
  font-weight: 400;
}
.vr__design--include ul {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
}
.vr__design--include ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.we__use {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.we__use > p {
  max-width: 625px;
}
.we__use a {
  margin-top: 32px;
  max-width: 174px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9));
  background: linear-gradient(to right, #0CBAF1, #E95CE9);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.second__section {
  margin-top: 150px;
  position: relative;
}
.second__section > img {
  position: absolute;
  left: 0;
  top: -200px;
  width: 50%;
  z-index: -1;
}

.our__title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.our__title h3 {
  max-width: 879px;
  line-height: 58px;
}

.our__vr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

.button__start {
  max-width: 182px;
  height: 50px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9));
  background: linear-gradient(to right, #0CBAF1, #E95CE9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.third__section {
  margin-top: 150px;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing__title {
  max-width: 820px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.pricing__title p {
  max-width: 625px;
}

.line {
  height: 447px;
  width: 1px;
  background: rgba(255, 255, 255, 0.123);
  position: absolute;
  top: 41px;
  right: 400px;
}

.our__pricing {
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 587px;
  border: 1px solid;
  padding: 0 0 0 100px;
  background: rgba(37, 37, 50, 0.81);
  -o-border-image: linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%) 1;
     border-image: linear-gradient(94.92deg, rgba(255, 255, 255, 0.3) -0.29%, rgba(255, 255, 255, 0) 100%) 1;
}
.our__pricing img:first-child {
  position: absolute;
  z-index: -1;
  top: -70px;
  right: 0;
}
.our__pricing img:last-child {
  position: absolute;
  max-width: 360px;
  height: 520px;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.our__pricing ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.our__pricing ul li {
  z-index: 1;
  max-width: 582px;
  position: relative;
}
.our__pricing ul li::before {
  content: url("../../img/icons/Icon.png");
  left: -60px;
  top: 0;
  position: absolute;
}
.our__pricing ul li h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 12px;
}

.start__from {
  max-width: 321px;
  width: 100%;
  height: 222px;
  position: absolute;
  background: #252532;
  border: 1px solid;
  -o-border-image: linear-gradient(to right, #0CBAF1, #E95CE9) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9)) 1;
     border-image: linear-gradient(to right, #0CBAF1, #E95CE9) 1;
  bottom: -48px;
  z-index: 2;
  right: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}
.start__from p {
  color: #D1D1D1;
}
.start__from p:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
}
.start__from p:nth-child(2) {
  font-size: 60px;
  font-weight: 600;
  color: white;
}
.start__from p:nth-child(3) {
  font-size: 12px;
  font-weight: 400;
}

.subscribe__section {
  margin-top: 198px;
}

.subscribe {
  background: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9));
  background: linear-gradient(to right, #0CBAF1, #E95CE9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 167px;
  width: 100%;
  height: 185px;
}
.subscribe h3 {
  font-size: 40px;
  font-weight: 600;
  max-width: 540px;
}
.subscribe form {
  max-width: 365px;
  height: 56px;
  background: rgba(255, 255, 255, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe form > img {
  margin-left: 14px;
}
.subscribe form input {
  width: 274px;
  height: 100%;
  background: none;
  margin-left: 8px;
  padding-right: 13px;
}
.subscribe form button {
  width: 55px;
  height: 49.33px;
  background: rgba(255, 255, 255, 0.21);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  margin-top: 64px;
}

.logoSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 139px;
}
.logoSocial > img {
  width: 101px;
  height: 30px;
}
.logoSocial .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  max-width: 244px;
  height: 46px;
}

.topFooter {
  margin-top: 182px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 149px;
}
.footerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  font-weight: 300;
}
.footerNav ul span {
  font-weight: 600;
}

.bottomFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  margin-top: 65px;
  position: relative;
}
.bottomFooter:before {
  content: "";
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#0CBAF1), to(#E95CE9));
  background: linear-gradient(to right, #0CBAF1, #E95CE9);
  position: absolute;
  top: 0;
}

@media (max-width: 1200px) {
  .our__pricing {
    height: 1350px;
    max-width: 600px;
    padding: 0 22px 0 88px;
  }
  .our__pricing p {
    max-width: 350px;
  }
  .our__pricing ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 32px;
  }
  .our__pricing img:last-child {
    position: absolute;
    max-width: 360px;
    width: 100%;
    height: 520px;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  .our__pricing .line {
    top: 550px;
    left: 50%;
    -webkit-transform: translate(-50%, 0) rotate(90deg);
            transform: translate(-50%, 0) rotate(90deg);
  }
}
@media (max-width: 1033px) {
  .third__circle, .fourth__circle, .sixth__circle, .seventh__circle {
    display: none;
  }
  .second__circle {
    right: 50px;
  }
  .fifth__circle {
    left: 50px;
  }
  .topFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logoSocial {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerNav {
    margin-top: 100px;
  }
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    text-align: center;
    gap: 10px;
  }
}
@media (max-width: 813px) {
  .logoSocial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footerNav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media (max-width: 713px) {
  header nav {
    display: none;
  }
  header .container > a {
    display: none;
  }
  .title__subtitle > img {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
  .subscribe h3 {
    font-size: 30px;
  }
  .burger {
    display: block;
  }
}
@media (max-width: 585px) {
  .vr__design--circle {
    top: -50px;
  }
  .second__circle {
    right: 50px;
    top: 0;
  }
  .fifth__circle {
    left: 50px;
    top: 0;
  }
  .start__from {
    left: 0;
  }
  .second__title {
    font-size: 40px;
  }
  .our__pricing .line {
    height: 347px;
    top: 600px;
  }
}
@media (max-width: 439px) {
  .our__pricing {
    height: 1600px;
  }
  .our__pricing .line {
    display: none;
  }
  .our__pricing img:last-child {
    height: auto;
  }
}
@media (max-width: 429px) {
  .second__title {
    font-size: 40px;
  }
  h1 {
    font-size: 50px;
  }
  .vr__design--circle {
    width: 80px;
    height: 80px;
  }
  .we__use p {
    margin-top: 80px;
  }
  .subscribe h3 {
    font-size: 20px;
  }
  .subscribe form input {
    width: 100%;
  }
}